{erl_opts, [debug_info]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
]}.
{src_dirs, ["src", "include"]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{relx, [{release, {"my_module", "0.0.1"}, ["my_module"]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {sys_config, "config/sys.config"}
       ]}.
